In [5]:
import yfinance as yf
from dataset import *

False

In [11]:
ticker = 'NASDAQ'
start_date = '2021-01-01'
end_date = '2021-12-31'

In [12]:
aaple_data = yf.download('NASDAQ', start='2021-01-01', end='2021-12-31')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['NASDAQ']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2021-01-01 -> 2021-12-31)')

In [10]:
aaple_data.head()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,TSLA,TSLA,TSLA,TSLA,TSLA,TSLA
Date,,,,,,
2021-01-04,243.256668,243.256668,248.163330,239.063339,239.820007,145914600
2021-01-05,245.036667,245.036667,246.946671,239.733337,241.220001,96735600
2021-01-06,251.993332,251.993332,258.000000,249.699997,252.830002,134100000
2021-01-07,272.013336,272.013336,272.329987,258.399994,259.209991,154496700
2021-01-08,293.339996,293.339996,294.829987,279.463318,285.333344,225166500